<template>
  <div class="mention-list be-white rounded">
    <div
      v-for="user in users"
      :key="user.userId"
      class="px-4 py-2 user-row"
      @click="onUserClick(user)"
    >
      <p class="mb-0">{{ user.username }}</p>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MessengerTextboxMentionList',
  props: {
    users: {
      type: Array,
      required: true,
    },
  },
  methods: {
    onUserClick(user) {
      this.$emit('user-click', user)
    },
  },
}
</script>
<style scoped>
.mention-list {
  border-top: 1px solid #eee;
}

.user-row:hover {
  background-color: #bbdefb;
  cursor: pointer;
}
</style>
