<template>
  <div
    :class="[
      'rounded py-1 px-3 mb-2 message-bubble',
      messageBgColorClass,
      flexClass,
    ]"
  >
    <p :class="['text-white mb-0', textAlignClass]">
      <small>{{ message.user.name }}</small>
    </p>
    <!-- We have already sanitized user input before adding it to store (or submitting it via API call) -->
    <p v-html="messageText" class="text-white my-2" />
    <p :class="['text-white mb-0', textAlignClass]">
      <small>{{ messageTime }}</small>
    </p>
  </div>
</template>
<script>
import { detectAllMentions } from '@/utils/mentioning'

export default {
  name: 'MessengerMessageListBubble',
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isSenderCurrentUser() {
      return this.$store.state.user.userId === this.message.user.userId
    },
    flexClass() {
      if (this.isSenderCurrentUser) {
        return 'align-self-start'
      }
      return 'align-self-end'
    },
    messageBgColorClass() {
      if (this.isSenderCurrentUser) {
        return 'bg-info'
      }
      return 'bg-secondary'
    },
    textAlignClass() {
      if (this.isSenderCurrentUser) {
        return 'text-left'
      }
      return 'text-right'
    },
    messageTime() {
      return this.message.time.toLocaleTimeString()
    },
    messageText() {
      let text = this.message.text
      const mentions = detectAllMentions(text)

      // Creating a span element with a different background color for each mentioned user
      mentions.forEach((mention) => {
        const replaceItem = `<span class="bg-primary p-1 rounded">${mention}</span>`
        text = text.replace(mention, replaceItem)
      })

      return text
    },
  },
}
</script>
<style scoped>
.message-bubble {
  max-width: 80%;
}
</style>
