<template>
  <div class="vh-100 d-flex flex-column">
    <MessengerMessageList :messages="messages" />
    <MessengerTextbox
      v-model="messageText"
      :receiving="receiving"
      @send="onSend"
    />
  </div>
</template>
<script>
import { createMockMessage } from '@/mock/messaging'
import { sanitizeString } from '@/utils/string'
import { requestNotificationPermission } from '@/utils/notification'

export default {
  name: 'Messenger',
  data() {
    return {
      messageText: '',
      receiving: false,
    }
  },
  computed: {
    messages() {
      return this.$store.state.messages
    },
    user() {
      return this.$store.state.user
    },
  },
  mounted() {
    requestNotificationPermission()
  },
  methods: {
    onSend() {
      const message = {
        // Sanitizing user input to be sure no XSS attack occurres
        text: sanitizeString(this.messageText),
        messageId: this.messages.length + 1,
        time: new Date(),
        user: this.user,
      }

      this.$store.commit('addMessage', { message })

      this.messageText = ''

      // Below part handles receiving message simulation. 2 seconds after each message user sends, a new message arrives.
      this.receiving = true
      setTimeout(() => {
        this.simulateMessaging()
        this.receiving = false
      }, 2000)
    },
    simulateMessaging() {
      const mockMessage = createMockMessage(this.messages.length + 1)
      this.$store.commit('addMessage', { message: mockMessage })
    },
  },
}
</script>
