<template>
  <div class="bg-white position-fixed messenger-text-box w-100">
    <MessengerTextboxMentionList
      v-if="mentionableUsers.length > 0"
      :users="mentionableUsers"
      @user-click="onUserClick"
    />
    <p v-if="receiving" class="text-right mb-1 text-muted">
      <small>Someone is typing...</small>
    </p>
    <b-input-group class="px-3 pb-3 pt-0">
      <b-form-input
        ref="input"
        :value="value"
        :placeholder="$t('messenger.textbox.placeholder')"
        @input="onValueChange"
        @keypress.enter.prevent="onSend"
      />
      <b-input-group-append>
        <b-button variant="info" :disabled="!value" @click="onSend">
          {{ $t('messenger.textbox.button') }}
        </b-button>
      </b-input-group-append>
    </b-input-group>
  </div>
</template>
<script>
import { detectLastMention } from '@/utils/mentioning'
export default {
  name: 'MessengerTextbox',
  props: {
    value: {
      type: String,
      default: '',
    },
    receiving: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      mentionedNames: [],
    }
  },
  computed: {
    users() {
      return this.$store.state.users
    },
    mentionedName() {
      if (this.mentionedNames.length > 0) return this.mentionedNames[0]
      return null
    },
    mentionableUsers() {
      const users = this.users.filter((user) => {
        let found = false
        const mentionableName = `@${user.username}`

        if (mentionableName.includes(this.mentionedName)) found = true

        return found
      })
      return users
    },
  },
  methods: {
    onValueChange(newValue) {
      this.mentionedNames = detectLastMention(newValue)
      this.$emit('input', newValue)
    },
    onSend() {
      this.$emit('send')
    },
    onUserClick(user) {
      // Append `@` tp username to be able to detect mentions later in the messaages and show `@` character inside the textbox.
      const mentionableName = `@${user.username} `

      const newValue = this.value.replace(
        // In order to replace the last mention in user input, we should create a regular expression from mentioned name and append `$` to it.
        new RegExp(this.mentionedName + '$'),
        mentionableName
      )

      this.mentionedNames = []

      // Bring back the focus on textbox after user clicked on one of the names.
      this.$refs.input.focus()

      this.$emit('input', newValue)
    },
  },
}
</script>
<style scoped>
.messenger-text-box {
  bottom: 0;
}
</style>
