<template>
  <div v-if="messages.length > 0" class="p-3 d-flex flex-column messages-list">
    <MessengerMessageListBubble
      v-for="message in messages"
      :key="message.messageId"
      :message="message"
    />
  </div>
  <div
    v-else
    class="d-flex messages-list align-items-center justify-content-center"
  >
    <h3 class="text-secondary">{{ $t('messenger.messages.empty') }}</h3>
  </div>
</template>
<script>
export default {
  name: 'MessengerMessageList',
  props: {
    messages: {
      type: Array,
      required: true,
    },
  },
}
</script>
<style scoped>
.messages-list {
  flex: 1;
  padding-bottom: 80px !important;
}
</style>
